.hero {
  h1 {
    display: inline;
  }
  a {
    color: inherit;
  }
}
.hero :global(.homeIntro) {
  font-size: 1.5rem;

  h1 {
    font-size: inherit;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 1.25em;
  gap: 1.25em;
  max-width: var(--inner-width);

  @media (min-width: 480px) {
    flex-direction: row-reverse;
  }
}
.wrapper img {
  margin-bottom: 2rem;

  @media (min-width: 480px) {
    margin-bottom: 0;
  }
}
