.hero {
  position: relative;
  
  h1 {
    display: inline;
  }
  a {
    color: inherit;
  }
}
.hero:global(.row) .wrapper {
  @media (min-width: 480px) {
    display: flex;
    flex-direction: row;
  }
}
.hero :global(.homeIntro) {
  font-size: 1.5rem;

  h1 {
    font-size: inherit;
  }
  & > * {
    display: inline;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 1.25em;
  gap: 3.6%;
  max-width: var(--inner-width);

  img {
    margin-bottom: 2rem;
  
    @media (min-width: 480px) {
      margin-bottom: 0;
    }
  }
}
