.navigation {
  text-align: center;
  user-select: none;
  padding: 0.75rem 1rem;
}
.navigation ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.navigation a {
  padding: 0.5em 0.75rem;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
