.main {
}
.post {
  max-width: var(--blog-width);
  padding: var(--gap);
  margin: 1rem auto;
}
.post h2,
.post h3 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}
.post p {
  margin: 1rem auto;
}
.post ul {
  padding-left: 2rem;
}
.title {
  text-align: center;
}
.description {
  font-size: 1.11em;
  text-align: center;
  max-width: var(--blog-width);
}
.author {
  font-size: 0.9em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
