.main {
}
.post {
  max-width: var(--blog-width);
  padding: 1.25rem;
  margin: 1rem auto;
}
.post h1 {
  text-align: center;
}
.post h2 ,
.post h3 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}
.post p {
  margin: 1rem auto;
}
.post ul {
  padding-left: 2rem;
}
