// app/projects/ProjectList.module.scss
.projectsContainer {
	.projectsGrid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--gap);
		max-width: var(--inner-width);
		margin: var(--gap) auto;
	}
}
