/* app/projects/page.module.css */
.allProjects {
	margin-top: var(--gutter);

	.wrapper {
		padding: var(--gap);
	}
}
.archive {
	margin: var(--gutter) auto;
	display: none;

	h2 {
		text-align: center;
		margin: var(--gutter) auto;
	}
	:global(.projectsGrid) {
		align-items: center;
		position: relative;
		z-index: 1;
	}
	:global(.projectCard) {
		background-color: transparent;
		border: 0 none;
		padding: 0;

		:global(.projectImageContainer) {
			margin-bottom: 0;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
				object-position: top;
				aspect-ratio: 4 / 3;
			}
		}

		& > *:not(:global(.projectImageContainer)) {
			display: none;
		}

		@media (min-width: 640px) {
			flex-basis: calc(16.67% - var(--gap));
			min-width: auto;
		}
	}
}
