.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  max-width: var(--inner-width);
  margin: auto;
}
.portrait {
  width: 100%;
  height: auto;
  max-width: min(50dvh, 50%);
}
.serviceList {
  display: flex;
}
