.main {
}
.portrait {
  width: 100%;
  height: auto;
  max-width: min(50dvh, 40%);
}
.serviceList {
  max-width: var(--inner-width);
  margin: auto;

  @media (min-width: 480px) {
    display: flex;
  }
  h2 {
    flex-basis: 100%;
  }
}
