.main {
  min-height: 0;
}
.wrapper {
  margin: auto;
}

.homeIntro {
  font-size: 1.5rem;
  flex-basis: 67%;

  h1 {
    font-size: inherit;
  }
  & > * {
    display: inline;
  }
}
.portraitContainer {
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-basis: 32%;
  width: 32%;
}
.portrait {
  width: 100%;
  height: auto;
  min-width: 200px;
}

// Key Skills
.serviceList {
  margin-top: 6vmax;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1.25rem;
    max-width: var(--inner-width);
    margin: auto;

    @media (min-width: 480px) {
      flex-direction: row;
    }
    & > * {
      @media (min-width: 480px) {
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }
}

// Featured Posts
.recentPosts {
  margin-top: 8vmin;

  .wrapper {
    max-width: var(--inner-width);
    margin: 0 auto;

    h2,
    & > p {
      text-align: center;
    }
  }
  a {
    color: inherit;
    text-underline-offset: 0.1rem;
    transition: text-underline-offset 0.25s;

    &:hover {
      text-underline-offset: 0.4rem;
    }
  }
  :global(.postList) {
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 480px) {
      flex-direction: row;
    }
  }
  :global(.postItem) {
    width: 100%;

    @media (min-width: 480px) {
      flex-basis: 33.3%;
    }
  }
  :global(.postDetails) {
    width: 100%;

    ul {
      display: none;
    }
  }
}

.recentPosts.recentPosts.recentPosts {
  a {
    flex-direction: column;
  }
}

// Recent Projects
.featuredProjects {
  margin-top: 2vmax;

  a {
    color: inherit;
    text-underline-offset: 0.1rem;
    transition: text-underline-offset 0.25s;

    &:hover {
      text-underline-offset: 0.4rem;
    }
  }
  .wrapper {
    h2,
    & > p {
      text-align: center;
    }
  }
}
