.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  max-width: var(--inner-width);
  margin: auto;
}
.portrait {
  
}
.serviceList {
  display: flex;
}